[Desktop Entry]
Name=ResticCronned
Exec=restic-cronned $HOME/.config/restic-cronned/jobs/ ":8080"
Icon=STOCK_FLOPPY
Type=Application
Categories=System;
